body {
    background: url(/assents/homepage.png) no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-1);
}
.logo_container{
    display: flex;
    align-items: center;
    padding: 10px;
}

.src_logo{
    height: 38px;
    padding-right: 2px;
}

.tag_logo{
    font-size: 20px;
    color: var(--cor-3);
}

a{
    text-decoration: none;
    padding: 2px;
    color: var(--cor-3);
}

.links_container{
    padding: 10px;
}

.login{
    background-color: var(--cor-2);
    border-radius: 26px;
    padding: 4px 17px;
}

.container_home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 24px;
    font-family: var(--fonte-secundária);
    color: var(--cor-3);
    font-weight: bold;
    text-align: center;
    margin-top:-4rem;
}

.subtitle{
    font-size: 20px;
    color: var(--cor-3);
    text-align: center;
    padding: 1.5em;
}

.carrossel {
    width: 100%;
    overflow: hidden;
    max-width: 300px; /* Defina a largura máxima do carrossel */
}

.container_carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.src_img {
    min-width: 100%;
    object-fit: cover;
    width: 100%; /* A largura da imagem ocupa toda a área do carrossel */
}

