@import url(/css/homepage.css);
:root {
    --cor-1: #006cb5;
    --cor-2: #0094f8;
    --cor-3: #ffffff ;

    --fonte-principal: cooper hewitt;
    --fonte-secundária: Poppins;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: var(--fonte-principal);
}