body {
    background-image: url(/assents/homepage.svg);
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-1);
}
.logo_container{
    display: flex;
    align-items: center;
    padding: 10px;
}

.src_logo{
    height: 38px;
    padding-right: 2px;
}

.tag_logo{
    font-size: 20px;
    color: var(--cor-3);
}

a{
    text-decoration: none;
    padding: 2px;
    color: var(--cor-3);
}

.links_container{
    padding: 10px;
}

.login{
    background-color: var(--cor-2);
    border-radius: 26px;
    padding: 4px 17px;
}
