body {
  background: linear-gradient(to top,#003f75 , #006cb5) no-repeat !important;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Impede rolagem lateral */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 10px;
  max-width: 100vw; /* Evita que os elementos ultrapassem a largura da tela */
  overflow: hidden; /* Impede que conteúdos transbordem */
}

.menu-button img {
  width: 30px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1001; /* Mantém o botão visível acima de outros elementos */
}

/* Menu lateral esquerdo */
.menu {
  position: fixed;
  top: 0;
  left: -250px; /* Escondido inicialmente */
  width: 250px;
  height: 100%;
  background-color: #2973B2;
  padding-top: 60px;
  transition: 0.3s;
  z-index: 1000;
}

/* Lista de itens do menu */
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 15px;
  text-align: left;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: block;
  transition: 0.3s;
}

.menu a:hover {
  background-color: #023e8a;
  padding-left: 10px;
}

.logo_container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo_start {
  height: 50px;
  padding-right: 2px;
  margin: 10px;
}

.tag_logo {
  font-size: 20px;
  color: var(--cor-3);
}

.line_white {
  height: 2px;
  background-color: white;
  width: 100%;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.centered-container__item--bold {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 10px;
}

.text-bold {
  font-size: 1em;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}


.post {
  background-color: #1b7bbc;
  margin: 30px;
  border-radius: 16px;
  max-width: 100vw; /* Evita que os elementos ultrapassem a largura da tela */
  overflow: hidden; /* Impede que conteúdos transbordem */
  display: inline-block;
  justify-content: center;
}

.head_post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post_img {
  display: flex;
}

.profile {
  margin: 10px;
  height: 32px;
}

.points {
  height: 40px;
}

.post_user {
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.text_post {
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.info_post {
  margin: 1x;
  padding: 10px;
}

.obs {
  border: 2px solid white;
  border-radius: 10px;
}

.obs_post {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.floating-button {
  position: fixed;  /* Fixar o botão na tela */
  bottom: 20px;  /* Distância do fundo */
  right: 20px;   /* Distância da direita */
  width: 60px;
  height: 60px;
  background-color: #007bff;
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;  /* Garante que o botão fique sobre os outros elementos */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.floating-button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.flex_post{
  display: flex;
}

.lista{
  color: white;
  font-family: 'Poppins', sans-serif;
}

.post-image {
  width: 100%; /* Ocupa toda a largura do container */
  max-width: 350px; /* Limita o tamanho máximo da imagem */
  height: auto; /* Mantém a proporção */
  display: block;
  margin: 10px auto; /* Centraliza a imagem */
  border-radius: 10px; /* Bordas arredondadas para um design mais bonito */
}

.warn{
  width: 80%;
}
@media (min-width: 600px) {
  .post-image {
    max-width: 50%; /* Em telas menores, a imagem ocupa 90% da largura */
  }
  .container_post{
    width: 50%;
    align-items: center;
  }
}

