* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container_home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-1);
  }
  
  .logo_home {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .src_home {
    height: 33px;
    padding-right: 2px;
  }
  
  .tag_home {
    font-size: 22px;
    color: #fff;
    font-family: 'Cooper hewitt';
  }
  
  .line_home {
    height: 2px;
    background-color: #13537d;
    width: 100%;
  }
  
  .home {
    background-color: #3476a2;
    width: 100%;
    height: 100vh;
      justify-content: center;
      align-items: center;
  }
  
  .fixed-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #13537d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
  }
  
  .icon-link img {
    width: 130%; /* Ajuste o tamanho do ícone conforme necessário */
  }
  
  .circle-button {
    width: 80px;
    position: relative;
    height: 80px;
    background-color: #006cb5;
    border: 8px solid #13537d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: black;
    text-decoration: none;
    top: -15px;
  }
  
  .home_add{
    width: 80%;
  }
  
  .text_home{
    font-size: 1.5em;
    color: #fff;
    font-family: 'Poppins';
  }
  
  .text_map{
    font-size: 1.2em;
    padding: 0 0.5em;
    color: #fff;
    font-family: 'Poppins', sans-serif;
  }
  
  .centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15%;
    border-radius: 10px;
  }
  
  /* Texto em negrito */
  .centered-container__item--bold {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 10px; /* Espaçamento entre o texto em negrito e o texto normal */
  }
  
  /* Texto normal com borda arredondada */
  .centered-container__item--bordered {
    padding: 10px 15px;
    border: 3px solid #13537d;
    border-radius: 10px;
    background-color: transparent;
    text-align: center;
  }