@import url(/styles.css);

/* Seção superior com 25% da altura da tela em azul */
.top_section {
    background-color: var(--color-end); /* Azul */
    height: 20vh;
    width: 100%;
    position: relative;
}

/* Div laranja sobreposta */
.overlay_section {
    background-color: #fd4f01; /* Laranja */
    position: absolute;
    top: 10vh; /* Ajuste para sobrepor a parte azul */
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 2rem;
    text-align: center;
    border-radius: 8px;
}

/* Título centralizado */
.title {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}

#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}
.custom-map-control-button:hover {
  background: rgb(235, 235, 235);
}
